p{
    width: 100px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
    transition: width 5s, height 5s, border 5s, transform 5s;
    -webkit-transition: width 5s, height 5s, border 5s, -webkit-transform 5s;
}
p:hover{
    height: 100px;
    width: 200px;
    border: 10px solid red;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}